@import 'src/variables.scss';
@import 'src/typography.scss';

.test-component {
  background-color: $harvey-white;
  border: 1px solid $harvey-black;
  padding: 16px;
  text-align: center;
  width: 360px;

  .heading {
    @include heading;
  }

  .footer {
    display: flex;
  }

  &.test-component-secondary {
    background-color: $harvey-black;
    color: $harvey-white;
  }
}
