@import 'src/scss/variables/color';
@import 'src/scss/mixins/font';

$button_xl_padding: 0 40px;
$button_lg_padding: 0 32px;
$button_md_padding: 0 24px;
$button_sm_padding: 0 16px;

.icnBtn {
  @include primary-font-demibold;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  transition: box-shadow 100ms linear;

  &.disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  span {
    white-space: nowrap;
  }

  // Variants
  &.primary {
    background: $link-blue;
    border: none;
    color: $white;

    .iconSvg {
      fill: $white;
    }

    &:hover:not(.disabled) {
      background: $brand-blue;
      box-shadow: 0 2px 2px 0 rgba($gray-background, 0.35);

      &.sm {
        box-shadow: 0 1px 2px 0 rgba($gray-background, 0.35);
      }
    }

    &:active:not(.disabled) {
      background: $brand-blue;
      box-shadow: inset 0 2px 2px 1px rgba($gray-background, 0.6);

      &.sm {
        box-shadow: inset 0 2px 4px 1px rgba($gray-primary, 0.4);
      }
    }

    &.disabled {
      background: $brand-gray-lite;
    }
  }

  &.secondary {
    background: $white;
    border: 1px solid $link-blue;
    color: $link-blue;

    .iconSvg {
      fill: $link-blue;
    }

    &:hover:not(.disabled) {
      border: 1px solid $brand-blue;
      box-shadow: 0 2px 2px 0 rgba($gray-background, 0.35);
      color: $brand-blue;

      .iconSvg {
        fill: $brand-blue;
      }

      &.sm {
        box-shadow: 0 1px 2px 0 rgba($gray-background, 0.35);
      }
    }

    &:active:not(.disabled) {
      border: 1px solid $brand-blue;
      box-shadow: inset 0 2px 2px 1px rgba($gray-background, 0.15);
      color: $brand-blue;

      .iconSvg {
        fill: $brand-blue;
      }

      &.sm {
        box-shadow: inset 0 2px 4px 1px rgba($gray-background, 0.15);
      }
    }

    &.disabled {
      border: 1px solid $brand-gray-lite;
      color: $brand-gray-lite;
    }
  }

  &.tertiary {
    background: $white;
    border: 1px solid $gray-background;
    color: $gray-background;

    .iconSvg {
      fill: $gray-background;
    }

    &:hover:not(.disabled) {
      border: 1px solid $gray-primary;
      box-shadow: 0 2px 2px 0 rgba($gray-background, 0.35);
      color: $dark-desaturated-blue;

      .iconSvg {
        fill: $dark-desaturated-blue;
      }

      &.sm {
        box-shadow: 0 1px 2px 0 rgba($gray-background, 0.35);
      }
    }

    &:active:not(.disabled) {
      border: 1px solid $gray-primary;
      box-shadow: inset 0 2px 2px 1px rgba($gray-background, 0.15);
      color: $dark-desaturated-blue;

      .iconSvg {
        fill: $dark-desaturated-blue;
      }

      &.sm {
        box-shadow: inset 0 2px 4px 1px rgba($gray-background, 0.15);
      }
    }

    &.disabled {
      border: 1px solid $brand-gray-lite;
      color: $brand-gray-lite;
    }
  }

  // Sizes
  &.xl {
    border-radius: 24px;
    font-size: 16px;
    height: 48px;
    line-height: 12px;
    min-width: 120px;
    padding: $button_xl_padding;
    width: auto;

    .iconSvg {
      height: 16px;
    }
  }

  &.lg {
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    line-height: 12px;
    min-width: 120px;
    padding: $button_lg_padding;
    width: auto;

    .iconSvg {
      height: 14px;
    }
  }

  &.md {
    border-radius: 16px;
    font-size: 12px;
    height: 32px;
    line-height: 12px;
    min-width: 100px;
    padding: $button_md_padding;
    width: auto;

    .iconSvg {
      height: 12px;
    }
  }

  &.sm {
    border-radius: 16px;
    font-size: 12px;
    height: 24px;
    line-height: 12px;
    padding: $button_sm_padding;
    width: auto;

    .iconSvg {
      height: 12px;
    }
  }

  &.xs {
    border-radius: 17px;
    font-size: 14px;
    line-height: 18px;
    width: auto;
  }
}

.icon {
  &.xl,
  &.lg {
    padding-right: 7px;
  }

  &.md,
  &.sm {
    padding-right: 4px;
  }
}

.icn_btn_impersonate {
  background: none;
  border: 2px solid $white;
  font-family: $primary-font;
  margin-right: 40px;
  min-width: 120px;
  min-width: auto;
  padding: $button_sm_padding;
  padding: 2px 20px 0;

  &:hover {
    background-color: darken($brand-blue, 5%);
  }
}
