{
  "env": {
    "browser": true,
    "es2021": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:import/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:test-selectors/recommendedWithErrors"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "jest", "test-selectors"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-shadow": ["error"],
    "no-shadow": "off",
    "react/prop-types": "off",
    "import/no-unresolved": "error",
    "import/no-named-as-default-member": "off",
    "import/no-named-as-default": "off",
    "no-use-before-define": "off",
    "no-console": "off",
    "import/default": "off",
    "@typescript-eslint/no-empty-function": "off",
    "import/extensions": [
      "error",
      "always",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "prettier/prettier": ["warn", { "tabWidth": 2, "semi": true, "singleQuote": true, "printWidth": 120 }],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "test-selectors/onChange": ["warn", "always", { "ignoreDisabled": false, "ignoreReadonly": false }],
    "test-selectors/anchor": ["warn", "always", { "ignoreDisabled": false, "ignoreReadonly": false }],
    "test-selectors/button": ["warn", "always", { "ignoreDisabled": false, "ignoreReadonly": false }],
    "test-selectors/input": ["warn", "always", { "ignoreDisabled": false, "ignoreReadonly": false }],
    "test-selectors/onClick": ["warn", "always", { "ignoreDisabled": false, "ignoreReadonly": false }],
    "test-selectors/onKeyDown": ["warn", "always", { "ignoreDisabled": false, "ignoreReadonly": false }],
    "test-selectors/onKeyUp": ["warn", "always", { "ignoreDisabled": false, "ignoreReadonly": false }]
  },
  "settings": {
    "jest": {
      "version": 26
    },
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["src", "./src"],
          ["components", "./src/components"],
          ["constants", "./src/constants"],
          ["helper", "./src/helper"],
          ["hooks", "./src/hooks"],
          ["scss", "./src/scss"],
          ["stories", "./src/stories"],
          ["@src", "./src"],
          ["@components", "./src/components"],
          ["@constants", "./src/constants"],
          ["@helper", "./src/helper"],
          ["@hooks", "./src/hooks"],
          ["@scss", "./src/scss"],
          ["@stories", "./src/stories"]
        ]
      },
      "typescript": "./tsconfig.json",
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
