{
  "extends": [
    "stylelint-config-recommended"
  ],
  "rules": {
    "indentation": null,
    "number-leading-zero": null,
    "at-rule-no-unknown": null,
    "declaration-block-no-duplicate-properties": null,
    "property-no-unknown": null,
    "font-family-no-missing-generic-family-keyword": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null
  }
}
