@import '../variables/color';
@import '../mixins/font';

@mixin select {
	.container {
		display: inline-block;
		vertical-align: top;
	}

	.wrapper {
		background: #fff;
		border: 1px solid $gray-2;
		box-shadow: 1px 1px 0 0 rgba(202, 210, 215, 0.5);
		position: absolute;
	}

	.selection_opened.wrapper {
		background: #fff;
		border: 2px solid $black;
		box-shadow: 1px 1px 0 0 rgba(202, 210, 215, 0.5);
		outline: none;
	}

	.wrapper:focus {
		outline: none;
	}

	.selection_wrapper {
		cursor: pointer;
		height: 24px;
		text-align: left;
		width: 55px;

		span {
			color: $gray-primary;
			font-size: 12px;
			padding-left: 9px;
		}
	}

	.selection_opened .selection_wrapper {
		border-bottom: 1px solid $gray-2;
	}

	.selection_opened.is_hovered .active {
		background: $black;
		color: #fff;
	}

	.options_wrapper {
		background: #fff;
		margin: 1px 0;
	}

	.options {
		color: $gray-primary;
		cursor: pointer;
		display: block;
		font-size: 12px;
		height: 22px;
		line-height: 23px;
		margin: 0 2px;
		padding-left: 7px;
		text-align: left;
		vertical-align: middle;
	}

	.is_hovered .options.active:hover {
		background: $black;
		color: #fff;
	}

	.selection_icon {
		color: $gray-primary;
		cursor: pointer;
		font-size: 16px;
		left: 36px;
		line-height: 15px;
		position: absolute;
		top: 1px;
	}
}
