@import "../../../../../scss/variables/color";
@import "../../../../../scss/mixins/font";
@import "../../../../../scss/mixins/form";
@import "../../../../../scss/mixins/transition";

.outer_container {
  @include size16;
  @include primary-font;

  &:focus {
    outline: none !important;
  }
}

.dropbtn, .dropdown_content, .dropdown {
  width: 100%;
  box-shadow: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  z-index: 2;
  &.opened {
    z-index: 3;
  }
}

.dropbtn {
  @include size16line23;
  @include transition(box-shadow 300ms linear, border-color 300ms linear);
  color: $black;
  padding: 14px 20px 13px 15px;
  border: 1px solid $gray-hover;
  cursor: pointer;
  text-align: left;
  height: 50px;
  background-color: $white;
  outline: 0;

  &:focus {
    outline:0;
  }
}

.dropdown_content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: $white;
  border: 2px solid $black;
  border-top: 0;
  max-width: 100%;
  top: 50px;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 3px 0 3px 15px;
      text-decoration: none;
      display: block;
      &.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.active {
        cursor: pointer;
        background-color: $dropdown-hover-blue;
      }
    }
  }
}

.select_label_small {
  color: $gray-primary;
}

.select_label {
  color: $gray-light;
}

.selected_item {
  @include primary-font-demibold;
  position: absolute;
  color: $gray-primary;
  height: 25px;
  overflow: hidden;
}

.selected_item.with_label {
  top: 21px;
}

.selected_item.without_label {
  top: 16px;
}

.with_ellipsis {
  width: calc(100% - 53px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.select_label_small {
  @include size12line9;
  @include primary-font;
  position: absolute;
  top: 10px;
}

.caret_down {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
}

.hidden {
  display: none;
}

.disabled {
  background-color: $gray-3;
  border-color: $gray-2;
  cursor: not-allowed;
}
// TODO rename the style rule to something better
.alt_theme {
  display: inline-block;
  .dropdown, .dropdown_content, .dropbtn {
    width: 80px;
  }
  .dropdown {
    margin-bottom: 0;
  }
  .dropbtn {
    border: 0;
    border-bottom: 1px solid $gray-hover;
    vertical-align: bottom;
    height: 25px;
    text-align: center;
    padding: 0;
  }
  .caret_down {
    font-size: 14px;
    right: 10px;
    top: 6px;
  }
  .selected_item {
    @include primary-font;
    top: 3px;
    position: static;
  }
  .dropdown_content {
    top: 26px;
  }
  .focused {
    .dropbtn {
      border: 0;
      border-bottom: 2px solid $black;
    }
  }
}

.focused {
  .dropbtn {
    border: 2px solid $black;
  }
}

.disabled {
  .dropbtn {
    background-color: $gray-3;
    border-color: $gray-2;
    cursor: not-allowed;
  }
}

.opened {
  .dropdown_content {
    display: block;
  }
}

.has_scrollbar {
  ul {
    width: calc(100% - 10px);
    li {
      width: calc(100% - 25px);
    }
  }
  &.alt_theme {
    ul {
      width: 73px;
      li {
        width: 63px;
      }
    }
  }
  ul {
    max-height: 201px;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar-track {
      background: $gray-primary;
      border: 2px solid transparent;
      background-clip: content-box;
      width: 1px;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $gray-primary;
      border-radius: 5px;
      width: 5px;
    }
  }
}

.dropdown_content.hidden {
  display: none;
}

.right_placeholder {
  @include right-placeholder(40px)
}

.incomplete {
  @include transition(box-shadow 300ms linear);
  box-shadow: 0 0 2px 1px $warning-4;
  .dropbtn {
    border-color: $warning-4;
  }
}

.small_select_theme {
  box-shadow: 0;
  width: 50px;
  height: 20px;
  font-size: 11px;
  line-height: 11px;
  .selected_item {
    width: inherit;
    height: inherit;
  }
  .select_label{
    position: absolute;
    top: 0px;
    left: 3px;
  }
  .dropbtn {
    height: inherit;
    padding-top: 1px;
    padding-bottom: 4px;
    padding-left: 1px;
    font-size: 11px;
  }
  .dropdown {
    width: inherit;
    height: inherit;
  }
  .caret_down {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 15px;

  }
  .selected_item.without_label {
    top: 0px;
    text-align: left;
    left: 6px;
  }
  .dropdown_content {
    top: 20px;
    border-color: $gray-light;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    ul {
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      li {
        padding-top: 1px;
        padding-left: 5px;
        padding-right: 5px;
        height: 20px;
        &.active {
          cursor: pointer;
          background-color: $dropdown-hover-blue;
        }
      }
    }
  }
  .dropdown_list {
    margin-bottom: 0px;
  }
}

.medium_select_theme {
  box-shadow: 0;
  width: 115px;
  height: 20px;
  font-size: 11px;
  line-height: 11px;
  .selected_item {
    width: inherit;
    height: inherit;
  }
  .select_label{
    position: absolute;
    top: 0px;
    left: 3px;
  }
  .dropbtn {
    height: inherit;
    padding-top: 1px;
    padding-bottom: 4px;
    padding-left: 1px;
    font-size: 11px;
  }
  .dropdown {
    width: inherit;
    height: inherit;
  }
  .caret_down {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 15px;

  }
  .selected_item.without_label {
    top: 0px;
    text-align: left;
    left: 6px;
  }
  .dropdown_content {
    top: 20px;
    border-color: $gray-light;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    ul {
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      li {
        padding-top: 1px;
        padding-left: 5px;
        padding-right: 5px;
        height: 20px;
        &.active {
          cursor: pointer;
          background-color: $dropdown-hover-blue;
        }
      }
    }
  }
  .dropdown_list {
    margin-bottom: 0px;
  }
}
