@import "../../../scss/variables/color";
@import "../../../scss/mixins/font";

.SlidingDrawer {
  border-radius: 0 2px 0 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: visibility 0.5s;
  visibility: hidden;
  width: 500px;

  &__slider {
    background-color: white;
    border-radius: 0 2px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 35px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 99%;
  }

  &--open {
    visibility: visible;

    .SlidingDrawer__slider {
      box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.2);
      transform: translateX(0);
      overflow: auto;
    }
  }
}
