$three-px: 3px;

// Spacing scale
// Use the spacing scale when building individual components
$spacing-scale-1: 2px;
$spacing-scale-2: 4px;
$spacing-scale-3: 8px;
$spacing-scale-4: 12px;
$spacing-scale-5: 16px;
$spacing-scale-6: 24px;
$spacing-scale-7: 32px;
$spacing-scale-8: 40px;
$spacing-scale-9: 48px;
$spacing-scale-10: 56px;
$spacing-scale-11: 64px;

// Layout Scale
// The layout scale is used for arranging components and other UI parts into a full page layout
$layout-scale-1: 16px;
$layout-scale-2: 24px;
$layout-scale-3: 32px;
$layout-scale-4: 48px;
$layout-scale-5: 64px;
$layout-scale-6: 96px;
$layout-scale-7: 160px;

//Screen sizes
$screen-sm-min: 320px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;
$screen-xxl-min: 1440px;
$screen-xxxl-min: 1680px;
$screen-max: 1920px;
