$helvetica-neue-bold-cond: HelveticaNeueLT-BoldCond, Helvetica, Arial, sans-serif;
$helvetica-neue-cond: HelveticaNeueLT-Condensed, Helvetica, Arial, sans-serif;

// repeated above, should be made universal and applied everywhere
$primary-font: AvenirNextLTPro-Medium, Helvetica, Arial, sans-serif;
$primary-font-light: AvenirNextLTPro-Light, Helvetica, Arial, sans-serif;
$primary-font-bold: AvenirNextLTPro-Bold, Helvetica, Arial, sans-serif;
$primary-font-demibold: AvenirNextLTPro-Demi, Helvetica, Arial, sans-serif;
