// Checkbox
$checkbox-checked: '~images/checkbox-selected-lg.svg';
$checkbox-unchecked: '~images/checkbox-unselected-lg.svg';
$checkbox-indeterminate: '~images/checkbox-some-selected-lg.svg';
$checkbox-unchecked-disabled: '~images/checkbox-unselected-disabled-lg.png';

$checkbox-checked_20x20: '~images/checkbox-checked_20x20.svg';
$checkbox-unchecked_20x20: '~images/checkbox-unchecked_20x20.svg';
$checkbox-indeterminate_20x20: '~images/checkbox-partial_20x20.svg';
$checkbox-radio-unchecked_20x20: '~images/checkbox-radio-unchecked_20x20.svg';
$checkbox-radio-checked_20x20: '~images/checkbox-radio-checked_20x20.svg';

$checkbox-checked-sm: '~images/checkbox-selected-sm.svg';
$checkbox-unchecked-sm: '~images/checkbox-unselected-sm.svg';
$checkbox-indeterminate-sm: '~images/checkbox-some-selected-sm.svg';

// Chevron >
$chevron-right: '~images/chevron-right.svg';
$chevron-down: '~images/chevron-down.svg';
$sm-chevron-left: '~images/sm-chevron-left.svg';
$sm-chevron-right: '~images/sm-chevron-right.svg';
$lg-chevron-right-blue: '~images/lg-arrow_18x9.svg';

//Filter arrow
$filter-arrow: '~images/filter-arrow.svg';

//sort icon not active
$sort-arrow-filter-not-active: '~images/sort_icon_not_active.svg';

// Arrow
$arrow-tail: '~images/arrow-tail.svg';
$arrow-circle: '~images/btn-back_26x26.svg';

// Radio
$radio-unselected: '~images/radio-unselected-lg.svg';
$radio-selected: '~images/radio-selected-lg.svg';

// Grab Handle
$grab-handle-vertical: '~images/drag-handle-icon-sm.svg';
$grab-handle-vertical-hover: '~images/drag-handle-icon-sm-hover.svg';
$grab-handle-horizontal: '~images/drag-handle-icon.svg';
$grab-handle-horizontal-hover: '~images/drag-handle-icon-hover.svg';

// Delete
$pill-delete: '~images/pill-x-remove-sm.svg';
$pill-delete-hover: '~images/pill-x-remove-sm-hover.svg';

// Filter
$filter-inactive: '~images/filter-icon-inactive.svg';

// Sort
$sort-inactive: '~images/sort-icon-inactive.svg';
$sort-active-up: '~images/sort-icon-active-up.svg';
$sort-active-down: '~images/sort-icon-active-down.svg';
$sort-arrow-up: '~images/sort-arrow-up.svg';
$sort-arrow-down: '~images/sort-arrow-down.svg';

// Search
$search-default: '~images/icon-search-default.svg';

// Hamburger
$column-picker-default: '~images/column-picker-icon-default.svg';
$column-picker-active: '~images/column-picker-icon-active.svg';
$column-picker-hover: '~images/column-picker-icon-hover.svg';

// Scroll to Top
$scroll-to-top: '~images/scroll-to-top.svg';

// Due
$due-soon: '~images/due-soon-icon.svg';
$due-today: '~images/due-today-icon.svg';

// Checkmark
$green-check: '~images/green-check-icon.svg';

// Download
$download: '~images/download-icon.svg';
$download-hover: '~images/download-icon-hover.svg';

// Times
$times: '~images/x-clear-white.svg';
$times-hover: '~images/x-clear-blue.svg';

// Notifications
$notification-success: '~images/notification-success.svg';
$notification-warning: '~images/notification-warning.svg';
$notification-error: '~images/notification-error.svg';

//banIcon
$ban-icon: '~images/ban-icon.svg';
