@import "~scss/variables/color";
@import "~scss/mixins/font";

.icn-button {
  @include primary-font;
  color: white;
  font-size: 12px;
  background-color: $link-blue;
  border: 2px solid $link-blue;
  padding: 5px 40px;
  border-radius: 15px;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: $hover-blue;
    border-color: $hover-blue;
    color: white;
    text-decoration: none;
  }
}
.icn-button--white {
  @extend .icn-button;

  color: $gray-extra-lite;
  background-color: white;
  border: 2px solid $gray-extra-lite;

  &:hover {
    background-color: white;
    border-color: $gray-light;
    color: $gray-light;
  }
}

.icn-button--large {
  @extend .icn-button;

  font-weight: bold;
  font-size: 16px;
  padding: 8px 25px;
  border-radius: 20px;
}

.icn-button--disabled,
.icn-button--disabled:hover {
  pointer-events: none;
  opacity: 0.2;
}

.icn-button--link {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}
