.text_security_circle {
	font-family: 'text-security-circle' !important;
}

.text_security_square {
	font-family: 'text-security-square' !important;
}

.text_security_disc {
	font-family: 'text-security-disc' !important;
}
